@font-face {
    font-family: 'MyHeaderFont';
    src: url("./fonts/Title.ttf");
}

@font-face {
    font-family: 'MyFont';
    src: url("./fonts/Mukta.ttf");
}

body {
    background-color: black;
    color: white;
    font-family: 'MyHeaderFont', sans-serif;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    content: "My Res";
}

#content {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

button {
    font-family: "MyFont", sans-serif;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

button:hover, button:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.home-content {
    background-image: url(./images/carlos-aranda-IYMceGutrbQ-unsplash.jpg);
    background-size: cover;
    height: 500px;
    position: relative;
}

.white-card {
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

#chef-image {
    height: 50%;
    width: 50%;
    float: left;
}

.text-container {
    color: black;
}

.menu-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    background-image: url(./images/carlos-aranda-IYMceGutrbQ-unsplash.jpg);
    background-size: cover;
}

.menu-card {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
}

.menu-card img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.text-container h2 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.text-container p:first-of-type {
    margin: 0.5em 0;
    font-size: 1em;
    color: #888;
}

.text-container p:last-of-type {
    margin: 0.5em 0;
    font-size: 0.9em;
    color: rgb(81, 81, 95);
}